<a href="https://colab.research.google.com/github/Rosana30/Dados/blob/master/DESAFIO_M%C3%93DULO_1_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Declarando a biblioteca "files" de importação de arquivos do google colab
from google.colab import files
#fazendo o upload do arquivo dataset para a base de arquivo local

In [2]:
upload = files.upload()

Saving comp_bikes_mod.csv to comp_bikes_mod.csv

In [0]:
#Declarando a biblioteca "pandas" para trabalharmos com dataframes e a biblioteca numpy para funções de array
import pandas as pd
import numpy as np

In [0]:
#leitura de arquivo
bikes = pd.read_csv('comp_bikes_mod.csv')

In [6]:
# verificando o cabeçalho do dataframe
bikes.head()

   instant      dteday  season   yr  ...  windspeed  casual  registered   cnt
0      1.0         NaN     1.0  0.0  ...        0.0     3.0        13.0  16.0
1      2.0  2011-01-01     1.0  0.0  ...        0.0     8.0        32.0  40.0
2      3.0  2011-01-01     1.0  0.0  ...        0.0     5.0        27.0  32.0
3      4.0  2011-01-01     1.0  0.0  ...        0.0     3.0        10.0  13.0
4      5.0  2011-01-01     1.0  0.0  ...        0.0     0.0         1.0   1.0

[5 rows x 17 columns]

In [7]:
#verificando informações do dataframe como:Quantidade de valores não-nulos,tipos das colunas,quantidade de linhas e colunas
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     15641 non-null  float64
 1   dteday      15641 non-null  object
 2   season      15641 non-null  float64
 3   yr          15641 non-null  float64
 4   mnth        15641 non-null  float64
 5   hr          15641 non-null  float64
 6   holiday     15641 non-null  float64
 7   weekday     15641 non-null  float64
 8   workingday  15641 non-null  float64
 9   weathersit  15641 non-null  float64
 10  temp        15641 non-null  float64
 11  atemp       15641 non-null  float64
 12  hum         15641 non-null  float64
 13  windspeed   15641 non-null  float64
 14  casual      15641 non-null  float64
 15  registered  15641 non-null  float64
 16  cnt         15641 non-null  float64
dtypes: float64(16), object(1)
memory usage: 2.3+ MB

In [8]:
#Conferindo alguns dados estatisticos do dataframe,como:media,meidana,valores mínimos e máximos e os quartis.
bikes.describe()

            instant        season  ...    registered           cnt
count  15641.000000  15641.000000  ...  15641.000000  15641.000000
mean    8676.513842      2.503420  ...    153.644972    189.919826
std     5010.773755      1.107636  ...    151.750573    181.972508
min        1.000000      1.000000  ...      0.000000      1.000000
25%     4335.000000      2.000000  ...     34.000000     40.000000
50%     8678.000000      3.000000  ...    115.000000    142.000000
75%    13005.000000      3.000000  ...    220.000000    281.000000
max    17377.000000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]